@import "variables";

/*****************************

Estilos Generales

******************************/
html{
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    width: 100%;
    background-color: $fondo;
}

a {
    color: white;
    text-decoration: none;
    font-size: 100%;

    &:hover {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

}

span {
    background-color: #211e54;
    margin-bottom: 10px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    &:hover {
        a{
            color: black;
        }
        background: rgb(238,238,238);
        background: radial-gradient(circle, rgba(238,238,238,1) 0%, #2e2c53 100%);
    }
}

.border {
    border-radius: 15px;
}

section {
    margin-top: 0%;
    width: 97%;
    grid-area: productos;
    margin-left: 6%;

    div {
        
        border-radius: 10px;
        text-align: center;
        color: #909090;
        width: 90%;
        
        img {
            height: 20vh;
        }
    }
}
.sectionMargin{
    margin-left: 0%;
}


ul{
    text-align: left;
    color: black;

}

/* MAPA */
$colores:(
    Facebook:#3b5998,
    Instagram: #F58529,
    WhatsApp:#00bb2d
);
@each $clave,$valor in $colores {
    .link-#{$clave}{
        background-color: $valor;
    }
    
}


.section-vehiculo{
    margin-left: 1.5%;
    height: 80vh;
}

/* APLICANDO EXTEND */

.TituloVehiculos{
    display: flex;
    font-size: 110%;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(51, 51, 212);
    justify-content: center;
}
.TituloVehiculos2{
    @extend .TituloVehiculos;
    color: chocolate;
}

/* APLICANDO MIXIN */
@mixin iframe__($m_top, $m_left) {
    margin-top: $m_top;
    margin-left: $m_left;
}

.iframe {
    @include iframe__(6%, 5%)
}


header {
    grid-area: cabeza;
    width: 100%;
    background: rgb(33,30,84);
    background: linear-gradient(90deg, rgba(33,30,84,1) 0%, rgba(229,229,237,1) 50%, rgba(241,58,58,1) 100%);
    align-items: center;
    justify-content: center; 
    display: flex;
img{
        width: 15%;
        height: 80%;
    }
    h1 {
        display: inline-block;
        font-family: 'Work Sans', sans-serif;
        text-align: center;
        color: black;
    }
}

footer {
    grid-area: pie;
    font-family: 'Moon Dance', cursive, bold;
    position:absolute;
    font-size: 120%;
    bottom: 0;
    width: 100%;
    height: 30px;
    margin-top: 1%;
    text-align: right;
    background: rgb(33,30,84);
    background: linear-gradient(90deg, rgba(33,30,84,1) 0%, rgba(229,229,237,1) 50%, rgba(241,58,58,1) 100%);
    color: white;
    
}

.imgCarrousel{
    width: 40%;
    height: 10%;
    margin-left: 30%;
    
    
}

.marginFormulario{
    margin-top: 5%;
}
.DivSlogan{
    display: flex;
    width: 100%;
    transform: translate(0,-50%);
    position: relative;
    justify-content: center;
    margin-top: 20%;
    font-family: 'Lobster', cursive;
    font-size: 100%;
   
    p{
        
        text-align: center;
    }
}

nav {
    grid-area: menu;
}


/*Smartphone*/
.flexMenu {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

iframe {
    width: 100%;
    height: 50vh;
}

.estiloRedes{
        
    bottom: 0;
    width: 100%;
    height: 10%;
    text-align: center;
    color: black;
    margin-top: 5%;
    border: black;
    
    
}
.redes{
    width: 100%;
    height: 10vh;
    font-size: 100%;
    align-content: center;
    a{
        display: inline;
        border-radius: 5px;
        align-items: center;
        font-size: 100%;
        width: 10%;
        margin: 1%;
    }
}


#gridAreasNosotros {
    display: grid;
    /*Estructura    */
    grid-template-areas:
        "cabeza"
        /*fila 1*/
        "menu"
        "productos"
        /*fila 2*/
        "pie"
        /*fila 4*/
    ;
    grid-template-columns: 100%;
    grid-template-rows: 6% 290px 70% 70%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


p {
    color: black;
    width: 100%;
    text-align: center;
    font-size: 80%;
}

article {

    text-align: center;

}


form {
    padding-top: 2%;
    color: black;
    text-align: center;
    width: 98%;
    margin-left: 0%;

}

fieldset {
    padding-top: 2%;
    padding-bottom: 2%;
    height: 50vh;
}

legend {
    color: black;
    font-size: 25px;
    text-align: center;
}

input {
    margin-top: 2%;
}

#redes{
    grid-area: redes;
}
.horario{
    font-size: 100%;
    display: flex;
    color: white;
    justify-content: center;
    border-radius: 10px;
    border-style:double;
    border-color: #ec7c72;
    background-color: #f3d2cf;
    width:100%;
    
}

/*Tablet*/
@media(min-width:480px) and (max-width:1023px) {

    /*grid por areas*/
    #gridAreas {

        /*Estructura    */
        grid-template-areas:
            "cabeza cabeza "
            /*fila 1*/
            "menu productos "
            /*fila 2*/
            "menu productos "
            /*fila 3*/
            "redes redes"
            "pie pie"
            /*fila 4*/
        ;
        grid-template-columns: 25% 76.5%;
        grid-template-rows: 8% 50% 50% 5%;

    }

    .gridRepetitivo {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 50% 50%;
        grid-column-gap: 1.5%;
        grid-row-gap: 1%;
    }

    /*Estilos generales*/
    h1 {
        font-size: 220%;
        
    }

    

    /*Flex*/
    .flexMenu {
        font-family: 'Work Sans', sans-serif;
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 150%;
        
    }

    .productosFlex {
        display: flex;
        flex-flow: row nowrap;
    }

    article {
        border-radius: 4px;
        margin: 0%;
        text-align: center;
        padding: 1px;
    }

    p {
        color: black;
        width: 100%;
        text-align: center;

    }
    

    .flex1 {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 56%;
    }
    .DivSlogan{
        transform: translate(0,200%);
        margin-top: 0%;
        font-size: 120%;
    }
    form {
        padding-top: 10%;
        color: black;
        text-align: center;
        width: 70%;
        height: 100vh;
        margin-left: 15%;

    }

    fieldset {
        padding-top: 2%;
        padding-bottom: 2%;
        height: 50vh;
    }

    legend {
        color: black;
        font-size: 25px;
        text-align: center;
    }

    input {
        margin-top: 1%;

    }

    .marginFormulario{
        margin-top: 8%;
    }
    .estiloRedes{
        margin-top: 0%;
    }
    .section-vehiculo{
        height: 55vh;
    }
}


/*Desktop*/
@media(min-width:1024px) {
    /*Estilos generales*/

    

    article {
        border-radius: 4px;
        margin-top: 18%;
        margin-left: 1%;
        text-align: center;
    }

    p {
        color: black;
        width: 100%;

        text-align: left;
        padding: 0;

    }



    img {
        margin-top: 0%;
        width: 100%;
        height: 50%;
    }


    
    
        
    div{
        display: block;
        width: 100%;
    }
    h3{  
        align-items: center;
        display: block;
        }
        
        

    /*grid por areas*/
    #gridAreas {
        display: grid;
        /*Estructura    */
        grid-template-areas:
            "cabeza cabeza cabeza"
            /*fila 1*/
            "menu productos productos"
            /*fila 2*/
            "menu productos productos"
            /*fila 3*/
            "redes redes redes"
            "pie pie pie"
            /*fila 4*/
        ;
        grid-template-columns: 20% 29% 50%;
        grid-template-rows: 8% auto auto auto 5%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .gridRepetitivo {
        display: grid;
        grid-template-columns: 22% 22% 22% 22%;
        grid-template-rows: 55% 55%;
        grid-column-gap: 2%;
        grid-row-gap: 2%;
    }

    /*Flex*/
    .flexMenu {
        font-family: 'Work Sans', sans-serif;
        display: flex;
        flex-direction: column;
        padding-top: 25vh;
        text-align: center;
        font-size: 110%;
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
    }

    .productosFlex {
        display: flex;

    }
    
   .row{
    margin-left: calc(3 * var(--bs-gutter-x));
   }
    

    /*Estilos adcionales html nosotros*/
    
    .DivSlogan{
        margin-top: 6%;
        font-size: 150%;
    }

    /*Implementando flex para acomodar el contenido con el fin
esperado*/
    .flex1 {
        display: flex;
        width: 100%;
    }

    .flex2 {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 64vh;
    }

    /*Estilos adcionales html encuentranos*/

    iframe {

        width: 90%;
        height: 50vh;
    }

    .gridRepetitivoEncuentranos {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 90%;

    }
    

    /*Estilos adcionales html contacto*/

    input {
        margin-top: 2%;
    }
    .estiloRedes{
        margin-top: 5%;
    }
    .redes{
        align-content: center;
        a{
            display: inline-block;
            border-radius: 10px;
            align-items: center;
            width: 20%;
            font-size: 150%;
           
        }
    }
    .colorBotones{
        background-color:rgb(33,30,84) ;
    }
    .colorCheck{
        border-color:  rgb(33,30,84);
    }
    .marginFormulario{
        margin-top: 10%;
    }

    /*Estilos adcionales html vista vehiculo*/
    /*Ajustando el contenido dentro del flex implementado*/

    #imagen {
        display: inline-block;
        margin-left: 20%;
        margin-top: 1%;
        width: 50%;
        height: 55vh;
        align-items: center;
        border-radius: 5px;

    }

    #precio {
        display: block;
        margin-left: 35%;
        margin-top: 0%;
        font-family: 'Work Sans', sans-serif;
        font-size: 20px;
        width: 20%;
    }

    #descripcion {
        display: inline-block;
        margin-left: 1%;
        margin-top: 0%;
        width: 35%;
        height: 20vh;

    }

    #contacto {
        display: inline-block;
        margin-left: 20%;
        margin-top: 0%;
        width: 35%;
        height: 20vh;


    }

    #img {
        width: 70%;
        height: 45vh;
        margin-left: 0%;
        margin-top: 0%;
    }

    #articlevh {
        border-radius: 4px;
        margin-top: 0%;
        margin-left: 1%;
        text-align: center;
       
    }
    .section-vehiculo{
        margin-top: 2%;
    }



}