@import "variables";

/*****************************

Estilos Generales

******************************/

body {
    width: 100%;
    height: 100vh;
    background-color: $fondo;
}

a {
    color: black;
    text-decoration: none;
    font-size: 100%;

    &:hover {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

}

span {
    background-color: rgb(224, 218, 218);
    margin-bottom: 10px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;

    &:hover {
        background: rgb(213, 212, 212);
        background: radial-gradient(circle, rgba(116, 115, 115, 1) 5%, rgb(248, 247, 247) 100%);
    }
}

h1 {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    color: black;

}

.border {

    border-radius: 15px;

}

.card {
    margin-top: 5%;
}

section {
    margin-top: 2%;
    margin-left: 1%;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-area: productos;
    width: 95%;
    margin-left: 2%;

    div {
        margin-left: 1%;
        border-radius: 10px;
        text-align: center;
        color: #909090;
        width: 90%;
        
        

        img {
            height: 20vh;
        }
    }
}
/* MAPA */
$colores:(
    siguiente:rgb(51, 51, 212),
    atras:chocolate,
    general:#b4b5b6
);
@each $clave,$valor in $colores {
    .boton-#{$clave}{
        color: $valor;
    }
    
}


/* APLICANDO EXTEND */

.TituloVehiculos{
    font-size: 110%;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(51, 51, 212);
}
.TituloVehiculos2{
    @extend .TituloVehiculos;
    color: chocolate;
}

/* APLICANDO MIXIN */
@mixin iframe__($m_top, $m_left) {
    margin-top: $m_top;
    margin-left: $m_left;
}

.iframe {
    @include iframe__(20%, 5%)
}

header {
    grid-area: cabeza;
    background: rgb(138, 138, 139);
    background: radial-gradient(circle, rgb(160, 160, 161) 0%, rgb(228, 225, 225) 100%);

    h1 {
        margin-top: 0%;
    }
}

footer {
    grid-area: pie;
    font-family: 'Moon Dance', cursive, bold;
    font-size: 120%;
    bottom: 0;
    width: 100%;
    height: 30px;
    text-align: right;
    background-color: rgb(189, 188, 188);
    color: black;
    border-radius: 10px;

}

.imgCarrousel{
    width: 50%;
    height: 10%;
    margin-left: 25%;
    
}

nav {
    grid-area: menu;
}

/*Smartphone*/
.flexMenu {
    font-family: 'Work Sans', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;

}

iframe {
    width: 100%;
    height: 50vh;
}


/*grid por areas*/
#gridAreas {
    display: grid;
    /*Estructura    */
    grid-template-areas:
        "cabeza"
        /*fila 1*/
        "menu"
        "productos"
        /*fila 2*/
        "pie"
        /*fila 4*/
    ;
    grid-template-columns: 100%;
    grid-template-rows: 6% 35% 250% 70%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

#gridAreasNosotros {
    display: grid;
    /*Estructura    */
    grid-template-areas:
        "cabeza"
        /*fila 1*/
        "menu"
        "productos"
        /*fila 2*/
        "pie"
        /*fila 4*/
    ;
    grid-template-columns: 100%;
    grid-template-rows: 6% 290px 70% 70%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}


p {
    color: black;
    width: 100%;
    text-align: center;
    font-size: 80%;
}

article {

    text-align: center;

}


form {
    padding-top: 2%;
    color: black;
    text-align: center;
    width: 98%;
    margin-left: 0%;

}

fieldset {
    padding-top: 2%;
    padding-bottom: 2%;
    height: 50vh;
}

legend {
    color: black;
    font-size: 25px;
    text-align: center;
}

input {
    margin-top: 2%;
}



/*Tablet*/
@media(min-width:480px) and (max-width:1023px) {

    /*grid por areas*/
    #gridAreas {

        /*Estructura    */
        grid-template-areas:
            "cabeza cabeza "
            /*fila 1*/
            "menu productos "
            /*fila 2*/
            "menu productos "
            /*fila 3*/
            "pie pie"
            /*fila 4*/
        ;
        grid-template-columns: 20% 76.5%;
        grid-template-rows: 8% 50% 50% 5%;

    }

    .gridRepetitivo {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 50% 50%;
        grid-column-gap: 1.5%;
        grid-row-gap: 1%;
    }

    /*Estilos generales*/
    h1 {
        font-size: 220%;
    }

    footer {
        font-family: 'Moon Dance', cursive, bold;
        bottom: 0;
        width: 100%;
        height: 30px;
        text-align: right;
        background-color: rgb(189, 188, 188);
        color: black;
        border-radius: 10px;
    }

    /*Flex*/
    .flexMenu {
        font-family: 'Work Sans', sans-serif;
        display: flex;
        flex-direction: column;
        padding-top: 25vh;
        text-align: center;
        font-size: 100%;
    }

    .productosFlex {
        display: flex;
        flex-flow: row nowrap;
    }

    article {
        border-radius: 4px;
        margin: 0%;
        text-align: center;
        padding: 1px;
    }

    p {
        color: black;
        width: 100%;
        text-align: center;

    }


    .flex1 {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 64vh;
    }

    form {
        padding-top: 10%;
        color: black;
        text-align: center;
        width: 70%;
        height: 100vh;
        margin-left: 15%;

    }

    fieldset {
        padding-top: 2%;
        padding-bottom: 2%;
        height: 50vh;
    }

    legend {
        color: black;
        font-size: 25px;
        text-align: center;
    }

    input {
        margin-top: 1%;

    }


}


/*Desktop*/
@media(min-width:1024px) {
    /*Estilos generales*/


    h1 {

        margin-top: 18px;
        color: black;
    }


    footer {
        font-family: 'Moon Dance', cursive, bold;

        padding-right: 10px;
        bottom: 0;
        width: 100%;
        height: 40px;
        text-align: right;
        background-color: rgb(189, 188, 188);
        color: black;
        border-radius: 10px;
    }

    article {
        border-radius: 4px;
        margin-top: 18%;
        margin-left: 1%;
        text-align: center;


    }

    p {
        color: black;
        width: 100%;

        text-align: left;
        padding: 0;

    }



    img {
        margin-top: 0%;
        width: 100%;
        height: 50%;
    }

    section {
        margin-top: 0%;
        margin-left: 1%;
        justify-content: center;
        align-items: center;
        width: 100%;
    }



    /*grid por areas*/
    #gridAreas {
        display: grid;
        /*Estructura    */
        grid-template-areas:
            "cabeza cabeza cabeza"
            /*fila 1*/
            "menu productos productos"
            /*fila 2*/
            "menu productos productos"
            /*fila 3*/
            "pie pie pie"
            /*fila 4*/
        ;
        grid-template-columns: 20% 27% 50% 10%;
        grid-template-rows: 8% 43% 43% 10%;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .gridRepetitivo {
        display: grid;
        grid-template-columns: 22% 22% 22% 22%;
        grid-template-rows: 47% repeat(3, 50%);
        grid-column-gap: 2%;
        grid-row-gap: 2%;
    }

    /*Flex*/
    .flexMenu {
        font-family: 'Work Sans', sans-serif;
        display: flex;
        flex-direction: column;
        padding-top: 25vh;
        text-align: center;
        font-size: 110%;
    }

    .productosFlex {
        display: flex;

    }

    /*Estilos adcionales html nosotros*/


    /*Implementando flex para acomodar el contenido con el fin
esperado*/
    .flex1 {
        display: flex;
        width: 100%;
    }

    .flex2 {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 64vh;
    }

    /*Estilos adcionales html encuentranos*/

    iframe {

        width: 90%;
        height: 50vh;
    }

    .gridRepetitivoEncuentranos {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-template-rows: 90%;

    }

    /*Estilos adcionales html contacto*/

    form {
        padding-top: 10%;
        color: black;
        text-align: center;
        width: 50%;
        margin-left: 15%;

    }

    fieldset {
        padding-top: 2%;
        padding-bottom: 2%;
        height: 50vh;
    }

    legend {
        color: black;
        font-size: 25px;
        text-align: center;
    }

    input {
        margin-top: 2%;
    }


    /*Estilos adcionales html vista vehiculo*/
    /*Ajustando el contenido dentro del flex implementado*/

    #imagen {
        display: inline-block;
        margin-left: 20%;
        margin-top: 1%;
        width: 50%;
        height: 55vh;
        align-items: center;
        border-radius: 5px;

    }

    #precio {
        display: block;
        margin-left: 35%;
        margin-top: 0%;
        font-family: 'Work Sans', sans-serif;
        font-size: 20px;
        width: 20%;
    }

    #descripcion {
        display: inline-block;
        margin-left: 1%;
        margin-top: 0%;
        width: 35%;
        height: 20vh;

    }

    #contacto {
        display: inline-block;
        margin-left: 20%;
        margin-top: 0%;
        width: 35%;
        height: 20vh;


    }

    #img {
        width: 70%;
        height: 45vh;
        margin-left: 0%;
        margin-top: 0%;
    }

    #articlevh {
        border-radius: 4px;
        margin-top: 0%;
        margin-left: 1%;
        text-align: center;

    }



}